/* stylelint-disable max-line-length */

/* Alliance No.1 */
@font-face {
    font-family: "Alliance No.1";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url("../fonts/37386212-b105-4f4d-9d7c-472fc2ad1568.woff2")
        format("woff2");
}

@font-face {
    font-family: "Alliance No.1";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("../fonts/e2a3cca5-8801-42b6-aca3-9db65304f1f6.woff2")
        format("woff2");
}

@font-face {
    font-family: "Alliance No.1";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("../fonts/35c87a49-7655-4531-a835-5f0957f5c223.woff2")
        format("woff2");
}

/* Alliance No.2 */
@font-face {
    font-family: "Alliance No.2";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url("../fonts/e8c1b536-91d7-43a4-bd6a-4810cb086b1c.woff2")
        format("woff2");
}

@font-face {
    font-family: "Alliance No.2";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("../fonts/588e728d-3266-4845-996e-87629b61bda2.woff2")
        format("woff2");
}

@font-face {
    font-family: roboto-condensed;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("../fonts/roboto-condensed-bold.woff2") format("woff2");
    unicode-range:
        U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
        U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
        U+FEFF, U+FFFD;
}

@font-face {
    font-family: roboto;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("../fonts/roboto-bold.woff2") format("woff2");
    unicode-range:
        U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
        U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
        U+FEFF, U+FFFD;
}

@font-face {
    font-family: roboto;
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("../fonts/roboto-medium.woff2") format("woff2");
    unicode-range:
        U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
        U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
        U+FEFF, U+FFFD;
}

@font-face {
    font-family: roboto;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/roboto-regular.woff2") format("woff2");
    unicode-range:
        U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
        U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
        U+FEFF, U+FFFD;
}
